#menu-bar {
    display: flex;
    position: absolute;
    top: 1.5vh;
    height: 9vh;
    left: 5vw;
    width: 90vw;
}

.menu-label {
    position: absolute;
    top: 0%;
    height: 45%;
    width: 100%;
}

.menu-label > h4, .menu-main > h4 {
    font-size: 3vh;
}

.menu-main {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%
}

.menu-button {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
}

.menu-button-text {
    font-size: 2vh;
}

#difficulty-dropdown-options-div {
    width: 100%;
}

#difficulty-div {
    position: relative;
    left: 0vw;
    width: 40vw;
}

#start-div {
    position: relative;
    left: 3vw;
    width: 10vw;
}

#flagged-div {
    position: relative;
    left: 5vw;
    width: 11vw;
}

#time-div {
    position: relative;
    left: 7vw;
    width: 11vw;
}

#game-status-div {
    position: relative;
    left: 10vw;
    width: 13vw;
}

#game-div {
    position: absolute;
    top: 13vh;
    height: 85vh;
    left: 5vw;
    width: 90vw;
}

#game-grid > tr > td {
    border-color: black;
    border-width: 3px;
}
#game-grid > tr > .valid-space {
    background: rgb(210, 210, 210);
}

#game-grid > tr > .invalid-space {
    background: rgb(140, 140, 140);
    border: 0px;
}

#game-grid > tr > .unrevealed-space, #game-grid > tr > .flag-space {
    border-width: 4px;
}

#game-grid > tr > .number-space {
    background-size: 100% 100%;
}

#game-grid > tr > .number-0-space {
    background-color: rgb(165, 165, 165);
}

#game-grid > tr > .number-1-space {
    background-image: url("images/one.png");
}

#game-grid > tr > .number-2-space {
    background-image: url("images/two.png");
}

#game-grid > tr > .number-3-space {
    background-image: url("images/three.png");
}

#game-grid > tr > .number-4-space {
    background-image: url("images/four.png");
}

#game-grid > tr > .number-5-space {
    background-image: url("images/five.png");
}

#game-grid > tr > .number-6-space {
    background-image: url("images/six.png");
}

#game-grid > tr > .number-7-space {
    background-image: url("images/seven.png");
}

#game-grid > tr > .number-8-space {
    background-image: url("images/eight.png");
}

#game-grid > tr > .flag-space {
    background-image: url("images/flag.png");
    background-size: 100% 100%;
}

#game-grid > tr > .wrong-flag-space {
    background-image: url("images/wrong-flag.png");
    background-size: 100% 100%;
}

#game-grid > tr > .mine-space {
    background-image: url("images/mine.png");
    background-size: 100% 100%;
}

#game-grid > tr > .mine-selected-space {
    background-image: url("images/mine-selected.png");
    background-size: 100% 100%;
}
