#menu-bar {
    display: flex;
    position: absolute;
    top: 5%;
    height: 8%;
    left: 5%;
    width: 90%;
}

.menu-label {
    position: absolute;
    top: 0%;
    height: 45%;
}

.menu-main {
    position: absolute;
    top: 50%;
    height: 50%;
}

#difficulty-div {
    width: 40%;
}

#start-div {
    width: 15%;
}

#flagged-div {  
    width: 15%;
}

#time-div {
    width: 15%;
}

#game-div {
    position: absolute;
    top: 18%;
    height: 80%;
    left: 5%;
    width: 90%;
}

#flagged-div-text {
    color: red;
}

#game-grid > tr > td {
    border-color: black;
    border-width: 3px;
}
#game-grid > tr > .valid-space {
    background: green;
}

#game-grid > tr > .invalid-space {
    background: red;
}

#game-grid > tr > .number-space {
    background-size: 100% 100%;
}

#game-grid > tr > .number-1-space {
    background-image: url("images/one.png");
}

#game-grid > tr > .number-2-space {
    background-image: url("images/two.png");
}

#game-grid > tr > .number-3-space {
    background-image: url("images/three.png");
}

#game-grid > tr > .number-4-space {
    background-image: url("images/four.png");
}

#game-grid > tr > .number-5-space {
    background-image: url("images/five.png");
}

#game-grid > tr > .number-6-space {
    background-image: url("images/six.png");
}

#game-grid > tr > .number-7-space {
    background-image: url("images/seven.png");
}

#game-grid > tr > .number-8-space {
    background-image: url("images/eight.png");
}

#game-grid > tr > .flag-space {
    background: purple;
    background-image: url("images/flag.png");
    background-size: 100% 100%;
}

#game-grid > tr > .mine-space {
    background-image: url("images/mine.png");
    background-size: 100% 100%;
}

#game-grid > tr > .mine-selected-space {
    background-image: url("images/mine-selected.png");
    background-size: 100% 100%;
}
